/* Set up color scheme */
:root {
    --genr-blue: #2c3c94;
    --genr-lightblue: #84a8cc;
    --background-lightblue: #e2e9f1;
}

/* Style main navigation bar */
.navbar {
    background-color: white !important;
}
#main_navbar .nav-link {
    font-size: 17px;
    color: var(--genr-lightblue) !important;
}
#main_navbar .nav-item .nav-link.active {
    color: var(--genr-blue) !important;
}

.nav-pills {
    margin-bottom: -26px;
    margin-right: 30px;
}
.nav-pills .nav-link {
      color: var(--background-lightblue);
}
.nav-pills .nav-link:hover {
      color: var(--genr-blue);
}
.nav-pills .nav-link.active {
      background-color: var(--background-lightblue);
      color: var(--genr-blue);
      font-weight: bold;
}

/* Style text */
/*
body {
    font-family: 'News Cycle', sans-serif;
}
*/
h6 {
    font-weight: bold;
    color: var(--genr-lightblue);
}

/* Style buttons */
.guru-button {
    background-color: var(--genr-blue);
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border: none;
    border-radius: 30px;
}
.guru-button:hover {
    background-color: var(--genr-lightblue);
}


/* Default state */
.guru-link {
    color: var(--genr-lightblue);      /* uses your CSS variable */
    text-decoration: none;
}

/* Hover state */
.guru-link:hover {
    color: var(--genr-blue);
}

/* Style checkboxes */
.shiny-input-container .checkbox input[type="checkbox"] {
    border: 1px solid var(--genr-blue);
    margin-left: 7px;
}
.shiny-input-container .checkbox input[type="checkbox"]:checked {
    background-color: var(--genr-blue);
}

/* Style radio-buttons */
.shiny-input-container .radio input[type="radio"] {
    border: 1px solid var(--genr-blue);
    margin-left: 7px;
}
.shiny-input-container .radio input[type="radio"]:checked {
    background-color: var(--genr-blue);
}


/* Style switches */
.form-switch input[type="checkbox"]:checked  {
    background-color: var(--genr-blue);
    border: 1px solid var(--genr-blue);
}

/* Style notification */
.shiny-notification  {
    width: 500px;
    position: fixed;
    left: 50%;
    transform: translateX(-60%);
    max-height: 750px !important;
    overflow-y: auto !important;
    white-space: pre-wrap !important;
    padding: 20px !important;
    box-sizing: border-box !important;
}

.form-select {
    background-color: var(--genr-lightblue);
    border: 1px solid var(--genr-lightblue);
}


/* Table styles */
shiny-data-frame .shiny-data-grid > table > thead {
    z-index: 10; /* Ensure headers are above other elements */
}


/* Tilt and align noUiSlider pip labels */
.discrete-slider .noUi-value {
    color: var(--genr-lightblue) !important; 
    font-size: 16px;
    transform: rotate(25deg) !important; 
    transform-origin: top left;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    margin-top: 10px;
    margin-left: -2px;
}

.discrete-slider .noUi-connect {
    background: var(--genr-blue) !important;
}

.discrete-slider .noUi-handle {
    border: 1.5px solid #D9D9D9;
    border-radius: 12px !important;
    background:rgb(255, 255, 255);
}

.discrete-slider .noUi-tooltip {
    display: none;
}

.discrete-slider .noUi-active .noUi-tooltip {
    display: block;
}

.noUi-target {
    border-radius: 10px !important;
}